:root {
  --bg: #222340; 
  --dk: #2F3159;
  --pr: #5D60A6; 
  --sc: #656673;
  --lg: #8D9CF2;
}

body {
  background-color:var(--bg);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1,p {
  color: var(--lg);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}



input { 
  border: none;
  box-shadow: inset 0 0  8px var(--bg),
              0 0 20px 4px var(--lg);
  box-shadow: inset 0 0  8px var(--bg),
              0 0 20px 4px var(--lg);
  list-style-type: none;
}

::placeholder {
  color: var(--lg) !important;
  font-size: 14px;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  background-color: var(--pr);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 5px solid var(--lg);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  display: flex;
  height: 70px;
  /* border-top: 1px solid white; */
  align-items: center;
  padding: 0;
}

.hour {
  font-size: 20px;
  height: 48px;
  padding: 12px;
  text-align: center;
  align-self: center;
  /* background-color: var(--lg); */
  color: var(--lg);
  border-radius: 5px;
  /* border: 2px solid var(--lg); */
  /* box-shadow: 0 0 20px var(--lg);   */
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  width: 100%;
  height: 48px;
  /* border-left: 1px solid black; */
  border-radius: 5px;
  background-color: var(--pr);
  color: white;
  justify-self: center;
  text-align: center;
  box-shadow: 0 0 20px 4px var(--pr);
}

.saveBtn i:hover {
  color: var(--bg);
  background-color: var(lg);
  font-size: 20px;
  transition: all .3s ease-in-out;
}

